extends layout
block body
  h1.text-center Component Inventory
  .small-10.small-centered.column(ng-controller="compInventory")
    small.error(ng-if="genErr") {{ genErr }}
    h4 Machine Components
    .row
      table
        thead
          tr
            th
            th
            th
            th
            th
            th
            th(colspan="2") Orders Placed
            th(colspan="2") Printers
            th(colspan="2") Scanners
          tr
            th Name
            th Part Number
            th Vendor
            th Number per Batch
            th Number in Stock
            th Lead Time
            th Date
            th Num of batches
            th Num In Stock
            th Num Ordered
            th Num In Stock
            th Num Ordered
        tbody
          tr(ng-repeat="mPart in mParts")
            td {{ mPart.name }}
            td {{ mPart.id }}
            td {{ mPart.vendor }}
            td {{ mPart.numPerBatch }}
            td {{ mPart.numInStock }}
            td {{ mPart.leadTime }}
            td {{ mPart.orders.date }}
            td {{ mPart.orders.numPerBatch }}
            td {{ mPart.printers.inStock }}
            td {{ mPart.printers.ordered }}
            td {{ mPart.scanners.inStock }}
            td {{ mPart.scanners.ordered }}
    .row
      h4 Cartridge Components
      table
        thead
          tr
            th
            th
            th
            th
            th
            th
            th(colspan="2") Orders Placed
          tr
            th Name
            th Part Number
            th Vendor
            th Number per Batch
            th Number in Stock
            th Lead Time
            th Date
            th Number of
        tbody
          tr(ng-repeat="cPart in cParts")
            td {{ cPart.name }}
            td {{ cPart.id }}
            td {{ cPart.vendor }}
            td {{ cPart.numPerBatch }}
            td {{ cPart.numInStock }}
            td {{ cPart.leadTime }}
            td
            td
