extends layout
block body
  h1.text-center Component Inventory
  .small-10.small-centered.column(ng-controller="CompInventory as compInv")
    small.error(ng-if="compInv.genErr") {{ genErr }}
    h4 Machine Components
    .row.scrollable
      table
        thead
          tr
            th
            th
            th
            th
            th
            th
            th(colspan="2") Orders Placed
            th(colspan="2") Printers
            th(colspan="2") Scanners
          tr
            th Name
            th Part Number
            th Vendor
            th Number per Batch
            th Number in Stock
            th Lead Time
            th Date
            th Num of batches
            th Num In Stock
            th Num Ordered
            th Num In Stock
            th Num Ordered
        tbody
          tr(ng-repeat="part in compInv.mParts")
            td: small {{ part.name }}
            td: small {{ part.id }}
            td: small {{ part.vendor }}
            td: small {{ part.numPerBatch || "1"}}
            td: small {{ part.numInStock || "0" }}
            td: small {{ part.leadTime || "N/A" }}
            td.text-center(
              ng-if="!part.vendorOrder.length"
              colspan="2") No Orders
            td(ng-if="part.vendorOrder.length")
              ul.no-bullet
                li(ng-repeat="order in part.vendorOrder")
                  small {{ order.dateCreated | date: "MM/dd/yyyy" }}
            td(ng-if="part.vendorOrder.length")
              small {{ part.vendorOrder.length || "0" }}
            td: small {{ part.numPerPrinter * part.numInStock || "N/A" }}
            td: small {{ part.printer.ordered }}
            td: small {{ part.numPerScanner * part.numInStock || "N/A" }}
            td: small {{ part.scanner.ordered }}
    .row.scrollable
      h4 Cartridge Components
      table
        thead
          tr
            th
            th
            th
            th
            th
            th
            th(colspan="2") Orders Placed
          tr
            th Name
            th Part Number
            th Vendor
            th Number per Batch
            th Number in Stock
            th Lead Time
            th Date
            th Number of
        tbody
          tr(ng-repeat="part in compInv.cParts")
            td: small {{ part.name }}
            td: small {{ part.id }}
            td: small {{ part.vendor }}
            td: small {{ part.numPerBatch }}
            td: small {{ part.numInStock }}
            td: small {{ part.leadTime }}
            td.text-center(
              ng-if="!part.vendorOrder.length"
              colspan="2") No Orders
            td(ng-if="part.vendorOrder.length")
              ul.no-bullet
                li(ng-repeat="order in part.vendorOrder")
                  small {{ order.dateCreated | date:'MM/dd/yyyy' }}
            td(ng-if="part.vendorOrder.length") {{ part.vendorOrder.length }}
