extends layout
block body
    h1.text-center Component Ordering
        form(ng-controller="compOrdering")
            .row
                .small-6.column.small-centered
                    label Date
                        input(type="date")
                    select(ng-model="mySelect" ng-options="vendor as vendor for vendor in vendors")