extends layout
block body
  h1.text-center Component Recieving
  h3.text-center and Vendor Orders
  form(ng-controller="CompReceiving")
    .row
      .small-9.column.small-centered
        .row.collapse
          .small-3.column
            span.prefix Vendor
          .small-9.column
            select(
              name="vendor"
              ng-model="vendorFilter"
              ng-options="vendor as vendor for vendor in vendors")
              option(value=) All
        .row.scrollable
          table.small-12.column
            thead
              tr
                th Order Number
                th Received in Full
                th Received in Part
                th Edit
            tbody
              tr(ng-repeat="order in orders | filter: { vendor: vendorFilter }")
                td {{ order.id }}
                td {{ order.inFull? 'x': '' }}
                td {{ !order.inFull? 'x': '' }}
                td.button.tiny.radius(ng-click="editOrder(order)") Edit
  script(type="text/ng-template" id="editOrderModal.html")
    include editOrderModal
block footer
  script(type="text/javascript" src="js/controllers/compReceiving.js")
