doctype html
html(lang="en" ng-app='app')
  head
    base(href="/")
    link(rel="stylesheet" href="bower_components/foundation/css/normalize.css")
    link(rel="stylesheet" href="bower_components/foundation/css/foundation.css")
    link(rel="stylesheet" href="bower_components/ng-table/ng-table.min.css")
    link(rel="stylesheet" href="css/style.css")

    title Seraph Robotics
  header
    .row.portal--buttonMargin
      a.small-3.column.button.radius.secondary.tiny(href='/') Home
    .divider
  body
    .content
      block body
    script(type="text/javascript" src="bower_components/modernizr/modernizr.js")
    script(type="text/javascript" src="bower_components/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="bower_components/angular/angular.min.js")
    script(type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js")
    script(type="text/javascript" src="bower_components/angular-foundation/mm-foundation-tpls.min.js")
    script(type="text/javascript" src="bower_components/lodash/dist/lodash.min.js")
    script(type="text/javascript" src="bower_components/ng-table/ng-table.min.js")
    script(type="text/javascript" src="js/services.js")
    script(type="text/javascript" src="js/lbServices.js")
    script(type="text/javascript" src="js/controllers/customerDetails.js")
    script(type="text/javascript" src="js/controllers/customerSupport.js")
    script(type="text/javascript" src="js/controllers/globerView.js")
    script(type="text/javascript" src="js/controllers/machineDetails.js")
    script(type="text/javascript" src="js/controllers/masterList.js")
    script(type="text/javascript" src="js/controllers/orderFulfill.js")
    script(type="text/javascript" src="js/controllers/productGeneration.js")
    script(type="text/javascript" src="js/controllers/queue.js")
    script(type="text/javascript" src="js/controllers/subscriptionSettings.js")
    script(type="text/javascript" src="js/controllers/updateMachine.js")
    script(type="text/javascript" src="js/script.js")
  footer.footer
    block footer
    .row
      .small-12.column(style="height: 4em")
    .row
      .small-12.column(style="height: 1.5em; background-color: lightgray")

