extends layout
block body
  h2.text-center Repair and Manufacturing Queue
  form(ng-controller="queue")
    .row.border.margin
      .small-6.column
        h3.text-left Orders
        table
          tbody
            tr
              td Printers
              td.panel {{ printers }}
            tr
              td Scanners
              td.panel {{ scanners}}
            tr
              td Tablets
              td.panel {{ tablets }}
            tr
              td Cartridge
              td.panel {{ cartridges }}
            tr
              td Filaments
              td.panel {{ filaments }}
      .small-6.column
        h3.text-left Repairs
        table
          tbody
            tr
              td Printers
              td.panel {{ repairs.printers }}
            tr
              td Tablets
              td.panel {{ repairs.tablets }}
            tr
              td Scanners
              td.panel {{ repairs.scanners }}
    .row.border.margin
      .small-12.column.scrollable
        h3.text-left Unfulfilled Orders List
        table
          thead
            tr
              th Order Number
              th Customer ID
              th Date Placed
              th Type
              th Num of Printers
              th Num of Scanners
              th Num of Tablets
              th Num of Cartridges
              th Num of Filaments
          tbody
            tr(ng-repeat="order in orders | filter: { isComplete: false }")
              td: a(href="/orderFulfill/{{ order.id }}") {{ order.id }}
              td {{ order.customerId }}
              td {{ order.datePlaced }}
              td {{ order.type || "Not Set" }}
              td {{ order.printers }}
              td {{ order.scanners }}
              td {{ order.tablets }}
              td {{ order.cartridges }}
              td {{ order.filaments }}
    .row.border.margin
      .small-12.column
        h3.text-left Repair Queue
        table
          thead
            tr
              th Serial Number
              th Customer ID
              th Date Manufactured
              th Type
          tbody
            tr(ng-repeat="machine in machines")
              td: a(href="/updateMachine/{{ machine.id }}") {{ machine.id }}
              td {{ machine.customerId }}
              td {{ machine.dateManufactured | date: 'dd/MM/yyyy' }}
              td {{ machine.machineType }}
    .row
      .small-12.column.small-centered
        a.button.expand(href="/updateMachine") Go to Machine Update Page
