extends layout

block body
    .row
        .medium-6.column.text-center.border.margin.equalHeight
            h3  Components and Inventory
            ul.no-bullet
                li: a(href="compInventory") Component Inventory
                li: a(href="compOrdering") Component Ordering
                li: a(href="compReceiving") Component Recieving
                li: a(href="compCompleted") Completed Items Inventory
        .medium-6.column.text-center.border.margin.equalHeight
            h3 Machines and Order
            ul.no-bullet
                li: a(href="productGeneration") Product Generation
                li: a(href="updateMachine") Update Machine Status
                li: a(href="orderQueue") Order Queue
                li: a(href="orderFulfill") Order Fulfillment Status
                li: a(href="machineDetails") Machine Details
    .row
        .medium-6.column.text-center.border.margin.equalHeight
            h3 Customer Support
            ul.no-bullet
                li: a(href="customerDetails") Customer Details
                li: a(href="customerSupport") Customer Support
        .medium-6.column.text-center.border.margin.equalHeight
            h3 Book Keeping and Overviews
            ul.no-bullet
                li: a(href="bookKeeping") Book Keeping Billing Report
                li: a(href="globalOverview") Global Overview
                li: a(href="masterList") Master Component List
    .row
        .medium-12.column.text-center.border.margin
            h3 Outside links
            ul.inline-list
                li: a(href="http://seraphrobotics.com/") Seraph Robotics
                li: a(href="#") CRM
                li: a(href="#") Help Desk
                li: a(href="#") Fedex
                li: a(href="gmail.google.com") Gmail
                li: a(href="/explorer") Explore the API
