extends layout

block body
    .row
        .medium-6.column.text-center.border.margin.equalHeight
            h3  Components and Inventory
            ul.no-bullet
                li: a(href="compInventory") Component Inventory
                li: a(href="compOrdering") Component Ordering
                li: a(href="compReceiving") Component Recieving
                li: a(href="#") Completed Items Inventory
        .medium-6.column.text-center.border.margin.equalHeight
            h3 Machines and Order
            ul.no-bullet
                li: a(href="#") Product Generation
                li: a(href="#") Update Machine Status
                li: a(href="#") Order Que
                li: a(href="#") Order Fulfillment Status
                li: a(href="#") Machine Details
    .row
        .medium-6.column.text-center.border.margin.equalHeight
            h3 Customer Support
            ul.no-bullet
                li: a(href="#") Customer Details
                li: a(href="#") Customer Support
        .medium-6.column.text-center.border.margin.equalHeight
            h3 Book Keeping and Overviews
            ul.no-bullet
                li: a(href="#") Book Keeping Billing Report
                li: a(href="#") Global Overview
                li: a(href="/masterList") Master Component List
    .row
        .medium-12.column.text-center.border.margin
            h3 Outside links
            ul.inline-list
                li: a(href="#") Seraph Robotics
                li: a(href="#") CRM
                li: a(href="#") Help Desk
                li: a(href="#") Fedex
                li: a(href="#") Gmail
                li: a(href="/explorer") Explore the API
