extends layout
block body
    h2.text-center Product and Pricing Master
    form.small-10.column.small-centered(ng-controller="subscriptionSettings")
        .row
            h3.text-left Material Shipping Units
            .divider
            table
                thead
                    tr
                        th Name
                        th Unit ID Code
                        th Num of Cartridge Cartons
                        th Cartridges/Carton
                        th Number of Filaments
                        th Kg Material/per Reel
                tbody
                    tr(ng-repeat="unit in shippingUnits")
                        th {{unit.name}}
                        th {{unit.numOfCartridgeCartons}}
                        th {{unit.cartridges/carton}}
                        th {{unit.numOfFilaments}}
                        th {{unit.kgMaterialPerReel}}
        .row

